---
BasedOnStyle: LLVM

AlignConsecutiveEnums: false
AllowAllEnumsOnOneLine: true
AllowShortFunctionsOnASingleLine: true
BreakBeforeBraces: Attach
BreakAfterEnumValue: false
ColumnLimit: 300
IndentWidth: 4
PointerAlignment: Left