---
BasedOnStyle: LLVM

AlignConsecutiveEnums: false
AllowShortFunctionsOnASingleLine: true
BreakBeforeBraces: Attach
BreakAfterEnumValue: false
ColumnLimit: 170
IndentWidth: 4
MaxEmptyLinesToKeep: 10
PointerAlignment: Left